
/* Tablets & Smaller */
@media (max-width: 800px) {
  .big-head {
    display: none;
  }

  .carousel, .carousel-inner {
    height: 30%;
  }

  .carousel-item {
    height: 90%;
  }

  .bor {
    border-top: 2px dotted #323232;
  }

  .img-g1 {
    width: 94vw;
    height: auto;
  }
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
  }

}

/* When width is between 801px and 1342px */
@media (max-width: 1342px) and (min-width: 801px) {
  .carousel, .carousel-inner {
    height: 30%;
  }

  .carousel-item {
    height: 70%;
  }

  /* pricing ? */
}

/* When width is below 991px */
@media (max-width: 991px) {
  .bor {
    border-top: 2px dotted #323232;
  }
}