
body {
  box-sizing: border-box;
  text-align: center;
}

/* Generals */
hr {
  width: 20%;
}

h1, h2, h3, h4, h5, h6 {
  padding: 4%;
}

/* Containers */
.container-fluid {
  overflow: hidden;
  padding: 7% 15%;
}

.dark-section {
  background-color: #323232;
  color: rgb(219, 214, 214);
}

.grey-section {
  background-color: #434E52;
}

/* Navbar&Home */
.main-nav {
  font-size: larger;
  margin: auto;
  line-height: 2;
}

.navbar-brand {
  align-self: center;
  margin-bottom: 0;
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

.dumbbell {
  align-self: center;
  padding: 20px 8px;
}

.carousel, .carousel-inner {
  height: 85%;
}

.carousel-item {
  height: 90vh;
}

.head-image {
  opacity: 0.7;
  align-items: center;
  margin: 0;
}

.big-head {
  color: rgb(253, 83, 53);
  text-transform: capitalize;
  margin-bottom: 0;
}

/* About */
.big-p {
  font-size: x-large;
  line-height: 1.8;
  padding-bottom: 2%;
}

/* Pricing */
.normal-p {
  font-weight: bolder;
  line-height: 1.8;
  padding-left: 10%;
  padding-right: 10%;
}


/* Testimonials */
.col-lg-4 {
  padding-right: 5% !important;
  padding-left: 5% !important;
}

.normal-head {
  padding-bottom: 5%;
}

/* Contact */
.container-fluid-f {
  padding: 4% 15%;
}

#logo {
  font-family: "Gochi Hand", cursive;
  font-size: x-large;
}

/* Gallery */
img {
  margin: 2%;
}

.g {
  box-shadow: 5px 5px 5px #233342, 10px 10px 5px #4B2B31 ;
  opacity: 0.5;
  margin-bottom: 2%;
}

.g:hover {
  opacity: 1;
}

/* Gallery1 */
.g1 {
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.g1:hover {
  opacity: 1;
}

.c, .rg {
  padding: 0;
  margin: 0;
}
